body {
    background-color: rgb(255, 238, 144);
}
h1 {
    background-color: rgb(97, 185, 97);
}
p {
    background-color: peru;
}
h2 {
    background-color: indianred;
}
li {
    background-color: lightblue;
}
