body {
    background-color: rgb(255, 238, 144);
}
h1 {
    background-color: rgb(97, 185, 97);
}
p {
    background-color: peru;
}
h2 {
    background-color: indianred;
}
li:nth-child(1) {
    color: rgb(182, 64, 182);
}
li:nth-child(2) {
    color: darkcyan;
}
li:nth-child(3) {
    color: olivedrab;
}
li:nth-child(4) {
    color: royalblue;
}